.hrflex{
    display: block;
    height: 2px;
    border: 0;
    background-color: #235b4e;
    margin: 1em 0;
    padding: 0;
    
}
label{
    color: #9D2449;
}
input{
    border-color: #9D2449;
    background-color: rgb(239, 238, 238);
}
/*botones*/
.btn-Fecha {
    background-color: #800020; 
    color: white; 
    border-color: #800020; 
}
.btn-Fecha:hover {
    background-color: #DDC9A3; 
    border-color: #DDC9A3; 
}
.btn-Fecha:active {
    background-color: #BC955C; 
    border-color: #BC955C; 
}

.btn-Cirujia {
    background-color: #800020;
    color: white; 
    border-color: #800020;
}
.btn-Cirujia:hover {
    background-color: #DDC9A3; 
    border-color: #DDC9A3; 
}
.btn-Cirujia:active {
    background-color: #BC955C; 
    border-color: #BC955C; 
}

.btn-Expediente {
    background-color: #800020;
    color: white; 
    border-color: #800020; 
}
.btn-Expediente:hover {
    background-color: #DDC9A3; 
    border-color: #DDC9A3; 
}
.btn-Expediente:active {
    background-color: #BC955C; 
    border-color: #BC955C; 
}

.btn-Nombre {
    background-color: #800020;
    color: white; 
    border-color: #800020; 
}
.btn-Nombre:hover {
    background-color: #DDC9A3; 
    border-color: #DDC9A3; 
}
.btn-Nombre:active {
    background-color: #BC955C; 
    border-color: #BC955C; 
}

.btn-Medico {
    background-color: #800020;
    color: white; 
    border-color: #800020; 
}
.btn-Medico:hover {
    background-color: #DDC9A3; 
    border-color: #DDC9A3; 
}
.btn-Medico:active {
    background-color: #BC955C; 
    border-color: #BC955C;  
}

.btn-Cirujano {
    background-color: #800020;
    color: white; 
    border-color: #800020; 
}
.btn-Cirujano:hover {
    background-color: #DDC9A3; 
    border-color: #DDC9A3; 
}
.btn-Cirujano:active {
    background-color: #BC955C; 
    border-color: #BC955C;  
}

select{
    border-color: #9D2449;
    background-color: rgb(239, 238, 238);
}
 .title{
        color: #235b4e;
    }
